<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.bedu.okayapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OkayApp">
        <activity
            android:name=".changePassword"
            android:exported="false" />
        <activity
            android:name=".ValidaEmail"
            android:exported="true"
            android:parentActivityName=".Inicio.Menu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Inicio.Menu" />
        </activity>
        <activity
            android:name=".forgotPasword"
            android:exported="true"
            android:parentActivityName=".Inicio.LogIn">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Inicio.LogIn" />
        </activity>
        <activity
            android:name=".Inicio.Profile"
            android:exported="true"
            android:parentActivityName=".Progreso.Progress">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Progreso.Progress" />
        </activity>
        <activity
            android:name=".Progreso.Progress"
            android:exported="true"
            android:parentActivityName=".Temas.ShowTemas">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Temas.ShowTemas" />
        </activity>
        <activity
            android:name=".Inicio.LogIn"
            android:exported="true"
            android:parentActivityName=".Inicio.Menu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Inicio.Menu" />
        </activity>
        <activity
            android:name=".Inicio.SignUp"
            android:exported="true"
            android:parentActivityName=".Inicio.Menu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Inicio.Menu" />
        </activity>
        <activity
            android:name=".Inicio.Menu"
            android:exported="true" />
        <activity
            android:name=".Temas.ShowTemas"
            android:exported="true" />
        <activity
            android:name=".Temas.ShowSubTemas"
            android:exported="true"
            android:parentActivityName=".Temas.ShowTemas">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Temas.ShowTemas" />
        </activity>
        <activity
            android:name=".Trivia.Seleccion"
            android:exported="true"
            android:parentActivityName=".Temas.ShowSubTemas">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Temas.ShowSubTemas" />
        </activity>
        <activity
            android:name=".Trivia.BaseQuestion"
            android:exported="true"
            android:parentActivityName=".Trivia.Seleccion">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Trivia.Seleccion" />
        </activity>
        <activity
            android:name=".Trivia.Correcto"
            android:exported="true" />
        <activity
            android:name=".Trivia.Resultado"
            android:exported="true" />
        <activity
            android:name=".Trivia.Estudio"
            android:exported="true"
            android:parentActivityName=".Temas.ShowTemas">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Temas.ShowTemas" />
        </activity>
        <activity
            android:name=".Trivia.Incorrecto"
            android:exported="true" />
        <activity
            android:name=".Inicio.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>