<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.bedu.okayapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OkayApp">
        <activity
            android:name=".Trivia.Seleccion"
            android:exported="true" />
        <activity
            android:name=".Temas.UserActivity"
            android:exported="true" />
        <activity
            android:name=".Categoria.UserActivity"
            android:exported="true" />
        <activity
            android:name=".ValidaEmail"
            android:exported="true" />
        <activity
            android:name=".forgotPasword"
            android:exported="true" />
        <activity
            android:name=".Inicio.Profile"
            android:exported="true" />
        <activity
            android:name=".Progreso.Progress"
            android:exported="true" />
        <activity
            android:name=".Inicio.LogIn"
            android:exported="true" />
        <activity
            android:name=".Inicio.SignUp"
            android:exported="true" />
        <activity
            android:name=".Inicio.Menu"
            android:exported="true" />
        <activity
            android:name=".Temas.categories"
            android:exported="true" />
        <activity
            android:name=".Temas.Topic"
            android:exported="true" /> <!-- ketzalli -->
        <activity
            android:name=".Trivia.BaseQuestion"
            android:exported="true" />
        <activity
            android:name=".Trivia.Correcto"
            android:exported="true" />
        <activity
            android:name=".Trivia.Resultado"
            android:exported="true" />
        <activity
            android:name=".Trivia.Incorrecto"
            android:exported="true" /> <!-- hasta aqui -->
        <activity
            android:name=".Inicio.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>